<div class="drawer-side">
    <label for="my-drawer-4" class="drawer-overlay" id="drawerOverlay"></label>
    <aside class="w-10/12 md:w-6/12 xl:w-4/12 bg-base-100">
        <ul class="p-4 text-base-content">
            <!-- Sidebar content -->
            <!-- New Project Drawer -->
            <li class="hidden" id="newProjectDrawer">
                <div class="card w-full bg-base-100">
                    <form class="card-body" action="/project/newProject" method="POST">
                        <div class="form-control">
                            <label for="name" class="label"><span class="label-text">Project Name</span></label>
                            <input type="text" name="name" id="name" placeholder="New Project" class="input input-bordered" required/>
                            
                            <label for="description" class="label"><span class="label-text">Short description</span></label>
                            <input type="text" name="description" id="description" placeholder="Description" class="input input-bordered" required/>
                                                  
                        </div>
                        <div class="form-control mt-6">
                            <button type="submit" class="btn btn-primary">Create Project</button>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Add Task Drawer -->
            <li class="hidden" id="addTaskDrawer">
                <div class="card w-full bg-base-100">
                    <form class="card-body" action="/project/newTask/<%= project._id %>" method="POST">
                        <div class="form-control">
                            <label for="description" class="label"><span class="label-text">Add Task</span></label>
                            <input type="text" name="description" id="description" placeholder="Task" class="input input-bordered" required/>

                            <label for="status" class="label"><span class="label-text">Status</span></label>
                            <select name="status" id="status" class="select select-bordered" required>
                                <option value="To-Do" selected>To-Do</option>
                                <option value="Doing">Doing</option>
                                <option value="Done">Done</option>
                            </select>

                            <label for="assignedTo" class="label"><span class="label-text">Assigned To</span></label>
                            <select name="assignedTo" id="assignedTo" class="select select-bordered" required>
                                <option value="Open" selected>Open</option>
                                <% for(let i=0; i<Users.length; i++) {%>
                                    <option value="<%= Users[i].email%>"><%= Users[i].email%></option>
                                <% } %>
                            </select>
                            <label for="dueDate" class="label"><span class="label-text">Due Date</span></label>
                            <input type="date" name="dueDate" id="dueDate" class="input input-bordered" required/>                          
                        </div>
                        <div class="form-control mt-6">
                            <button type="submit" class="btn btn-primary">Add Task</button>
                        </div>
                    </form>
                </div>
            </li>

            <!-- To-Do Drawer -->
            <% for(let i=0; i<todos.length; i++) {%>
                <li class="hidden todoDrawer">
                    <div class="card w-full bg-base-100">
                        <span class="card-body p-3">Description: <%= todos[i].description%></span>
                        <!-- Update Status -->
                        <form class="card-body p-3" action="/project/updateStatus/<%= todos[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                            <label for="status" class="label"><span class="label-text">Status</span></label>
                            <select name="status" id="status" class="select select-bordered" onchange="this.form.submit()">
                                <option value="<%= todos[i].status%>" selected><%= todos[i].status%></option>
                                <option value="Doing">Doing</option>
                                <option value="Done">Done</option>
                            </select>
                        </form>
                        <!-- Update Assignee -->
                        <form class="card-body p-3" action="/project/updateAssignee/<%= todos[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                            <label for="assignedTo" class="label"><span class="label-text">Assigned To</span></label>
                            <select name="assignedTo" id="assignedTo" class="select select-bordered" onchange="this.form.submit()">
                                <option value="<%= todos[i].assignedTo%>" selected><%= todos[i].assignedTo%></option>
                                <% if (todos[i].assignedTo !== 'Open') { %>
                                    <option value="Open">Open</option>
                                <% } %>
                                <% for(let j=0; j<Users.length; j++) {%>
                                    <% if (Users[j].email !== todos[i].assignedTo) { %>
                                    <option value="<%= Users[j].email%>"><%= Users[j].email%></option>
                                    <% }
                                } %>
                            </select>
                        </form>

                        <!-- Assign To Me -->
                        <div class="pl-3 py-0 flex justify-between mb-5">
                            <form action="/project/assignToMe/<%= todos[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm text-center text-xs">Assign To Me</button>
                            </form>

                            <!-- Delete Task -->
                            <div></div>
                        </div>
                    </div>
                    <div class="divider my-0"></div>                 

                    <!-- Add a Comment -->
                    <div class="card w-full bg-base-100 mt-5">
                        <form class="card-body p-3" action="/project/commentTask/<%= todos[i]._id %>/<%= project._id %>" method="POST">
                                <label for="comment" class="label"><span class="label-text">Add a comment</span></label>
                                <textarea id="comment" rows="1" name="comment"
                                    class="textarea textarea-bordered"
                                    placeholder="Write a comment..." required></textarea>
                            <button type="submit"class="btn btn-primary btn-sm text-center text-xs">Post comment</button>
                        </form>
                    </div>

                    <!-- Comments Section -->
                    <% for(let j=0; j<comments.length; j++) {%>
                        <% if (comments[j].task.toString() == todos[i]._id.toString()) { %>
                        <div class="chat <%= comments[j].user == user.id ? 'chat-end' : 'chat-start'%> pt-2">
                            <div class="chat-header"><%= comments[j].userName%></div>
                            <div class="chat-bubble"><%= comments[j].comment%></div>
                            <time class="chat-footer text-xs opacity-50"><%= comments[j].createdAt.toUTCString()%></time>
                        </div>
                        <% }
                    } %>   
                </li>
            <% } %>

            <!-- Doing Drawer -->
            <% for(let i=0; i<doing.length; i++) {%>
                <li class="hidden doingDrawer">
                    <div class="card w-full bg-base-100">
                        <span class="card-body p-3">Description: <%= doing[i].description%></span>
                        <!-- Update Status -->
                        <form class="card-body p-3" action="/project/updateStatus/<%= doing[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                            <label for="status" class="label"><span class="label-text">Status</span></label>
                            <select name="status" id="status" class="select select-bordered" onchange="this.form.submit()">
                                <option value="<%= doing[i].status%>" selected><%= doing[i].status%></option>
                                <option value="To-Do">To-Do</option>
                                <option value="Done">Done</option>
                            </select>
                        </form>
                        <!-- Update Assignee -->
                        <form class="card-body p-3 mb-5" action="/project/updateAssignee/<%= doing[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                            <label for="assignedTo" class="label"><span class="label-text">Assigned To</span></label>
                            <select name="assignedTo" id="assignedTo" class="select select-bordered" onchange="this.form.submit()">
                                <option value="<%= doing[i].assignedTo%>" selected><%= doing[i].assignedTo%></option>
                                <% if (doing[i].assignedTo !== 'Open') { %>
                                    <option value="Open">Open</option>
                                <% } %>
                                <% for(let j=0; j<Users.length; j++) {%>
                                    <% if (Users[j].email !== doing[i].assignedTo) { %>
                                    <option value="<%= Users[j].email%>"><%= Users[j].email%></option>
                                    <% }
                                } %>
                            </select>
                        </form>
                    </div>
                    <div class="divider my-0"></div>                 

                    <!-- Add a Comment -->
                    <div class="card w-full bg-base-100 mt-5">
                        <form class="card-body p-3" action="/project/commentTask/<%= doing[i]._id %>/<%= project._id %>" method="POST">
                                <label for="comment" class="label"><span class="label-text">Add a comment</span></label>
                                <textarea id="comment" rows="1" name="comment"
                                    class="textarea textarea-bordered"
                                    placeholder="Write a comment..." required></textarea>
                            <button type="submit"class="btn btn-primary btn-sm text-center text-xs">Post comment</button>
                        </form>
                    </div>

                    <!-- Comments Section -->
                    <% for(let j=0; j<comments.length; j++) {%>
                        <% if (comments[j].task.toString() == doing[i]._id.toString()) { %>
                        <div class="chat <%= comments[j].user == user.id ? 'chat-end' : 'chat-start'%> pt-2">
                            <div class="chat-header"><%= comments[j].userName%></div>
                            <div class="chat-bubble"><%= comments[j].comment%></div>
                            <time class="chat-footer text-xs opacity-50"><%= comments[j].createdAt.toUTCString()%></time>
                        </div>
                        <% }
                    } %>   
                </li>
            <% } %>

            <!-- Done Drawer -->
            <% for(let i=0; i<done.length; i++) {%>
                <li class="hidden doneDrawer">
                    <div class="card w-full bg-base-100">
                        <span class="card-body p-3">Description: <%= done[i].description%></span>
                        <!-- Update Status -->
                        <form class="card-body p-3" action="/project/updateStatus/<%= done[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                            <label for="status" class="label"><span class="label-text">Status</span></label>
                            <select name="status" id="status" class="select select-bordered" onchange="this.form.submit()">
                                <option value="<%= done[i].status%>" selected><%= done[i].status%></option>
                                <option value="To-Do">To-Do</option>
                                <option value="Doing">Doing</option>
                            </select>
                        </form>
                        <!-- Update Assignee -->
                        <form class="card-body p-3" action="/project/updateAssignee/<%= done[i]._id %>/<%= project._id %>?_method=PUT" method="POST">
                            <label for="assignedTo" class="label"><span class="label-text">Assigned To</span></label>
                            <select name="assignedTo" id="assignedTo" class="select select-bordered" onchange="this.form.submit()">
                                <option value="<%= done[i].assignedTo%>" selected><%= done[i].assignedTo%></option>
                                <% if (done[i].assignedTo !== 'Open') { %>
                                    <option value="Open">Open</option>
                                <% } %>
                                <% for(let j=0; j<Users.length; j++) {%>
                                    <% if (Users[j].email !== done[i].assignedTo) { %>
                                    <option value="<%= Users[j].email%>"><%= Users[j].email%></option>
                                    <% }
                                } %>
                            </select>
                        </form>
                        
                        <div class="pr-3 py-0 flex justify-between mb-5">
                            <div></div>

                            <!-- Delete Task -->
                            <form action="/project/deleteTask/<%= done[i]._id %>/<%= project._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-primary btn-sm text-center text-xs">Delete</button>
                            </form>
                        </div>
                    </div>
                    <div class="divider my-0"></div>                 

                    <!-- Add a Comment -->
                    <div class="card w-full bg-base-100 mt-5">
                        <form class="card-body p-3" action="/project/commentTask/<%= done[i]._id %>/<%= project._id %>" method="POST">
                                <label for="comment" class="label"><span class="label-text">Add a comment</span></label>
                                <textarea id="comment" rows="1" name="comment"
                                    class="textarea textarea-bordered"
                                    placeholder="Write a comment..." required></textarea>
                            <button type="submit"class="btn btn-primary btn-sm text-center text-xs">Post comment</button>
                        </form>
                    </div>

                    <!-- Comments Section -->
                    <% for(let j=0; j<comments.length; j++) {%>
                        <% if (comments[j].task.toString() == done[i]._id.toString()) { %>
                        <div class="chat <%= comments[j].user == user.id ? 'chat-end' : 'chat-start'%> pt-2">
                            <div class="chat-header"><%= comments[j].userName%></div>
                            <div class="chat-bubble"><%= comments[j].comment%></div>
                            <time class="chat-footer text-xs opacity-50"><%= comments[j].createdAt.toUTCString()%></time>
                        </div>
                        <% }
                    } %>
                </li>
            <% } %>
        </ul>
    </aside>
</div>